.search-box {
  float: left;
  background-color: #ffffff;
  opacity: 0.871;
  width: 100%;
  height: 44px;
  margin-top: -44px;
}
.search-box p {
  float: left;
  margin-top: 10px;
  padding-right: 0;
  margin-left: 330px;
  color: #df1f26;
}
.search-box .search-txt {
  float: left;
  border: none;
  margin-top: 5px;
  height: 29px;
  width: 245px;
  padding: 0;
  margin-left: 32px;
  background: #c9c9c9;
  box-sizing: border-box;
  font-size: 13px;
  margin-right: 0;
}
.search-box input[type=submit] {
  float: left;
  margin-top: 5px;
  background: url(../icon/search-icon.png);
  border: 0;
  height: 29px;
  width: 29px;
}
